<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controler.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controler.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controler.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controler.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controler.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controler.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuario</servlet-name>
        <servlet-class>controler.InserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCliente</servlet-name>
        <servlet-class>controler.InserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFormaPagamento</servlet-name>
        <servlet-class>controler.InserirFormaPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFuncionario</servlet-name>
        <servlet-class>controler.InserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPagamento</servlet-name>
        <servlet-class>controler.InserirPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPedido</servlet-name>
        <servlet-class>controler.InserirPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProduto</servlet-name>
        <servlet-class>controler.InserirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controler.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFormaPagamento</servlet-name>
        <servlet-class>controler.AlterarFormaPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controler.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPedido</servlet-name>
        <servlet-class>controler.AlterarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form_inserir_cliente</servlet-name>
        <servlet-class>form_inserir_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>controler.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controler.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFormaPagamento</servlet-name>
        <servlet-class>controler.ExcluirFormaPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPagamento</servlet-name>
        <servlet-class>controler.AlterarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCarrinho</servlet-name>
        <servlet-class>controler.ControleCarrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuario</servlet-name>
        <url-pattern>/inserir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCliente</servlet-name>
        <url-pattern>/InserirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFormaPagamento</servlet-name>
        <url-pattern>/InserirFormaPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFuncionario</servlet-name>
        <url-pattern>/InserirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPagamento</servlet-name>
        <url-pattern>/InserirPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPedido</servlet-name>
        <url-pattern>/InserirPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProduto</servlet-name>
        <url-pattern>/InserirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFormaPagamento</servlet-name>
        <url-pattern>/AlterarFormaPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/AlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPedido</servlet-name>
        <url-pattern>/AlterarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form_inserir_cliente</servlet-name>
        <url-pattern>/form_inserir_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFormaPagamento</servlet-name>
        <url-pattern>/ExcluirFormaPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPagamento</servlet-name>
        <url-pattern>/AlterarPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCarrinho</servlet-name>
        <url-pattern>/ControleCarrinho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
